<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Edit a Post</h1>
        <form action="/update-post/<%= raports._id %>" method="post">
            <input value="<%= raports.title %>" type="text" placeholder="title" name="title" required maxlength="15">
            <input value="<%= raports.massage %>" type="text" placeholder="massage" name="massage" required  maxlength="40" size="150">
            <button>Submit</button>
        </form>
    </body>
</html>